<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
	integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
<script
	src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- /btn-group -->

<div class="btn-primary btn-group-justified" xmlns:th="http://www.thymeleaf.org"
	style="border: 1px solid #ccc; padding: 5px; margin-bottom: 0px;">
	<ul style="list-style: none; font-size: 0;">
		<a class="btn btn-primary btn-lg" href="/">ホーム</a>
		<li style="display: inline-block;">
			<button type="button" class="btn btn-primary  btn-lg dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				ユーザ</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/userInfo">ユーザ情報</a> <a
					class="dropdown-item" href="/admin">運用ユーザ</a>
			</div>
		</li>
		<li style="display: inline-block;">
			<button type="button" class="btn btn-primary btn-lg dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				商品マスタ</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/masterProducts">商品一覧</a> <a
					class="dropdown-item" href="/createProduct">商品登録</a>
			</div>
		</li>
		<li style="display: inline-block;">
			<button type="button" class="btn btn-primary  btn-lg dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				在庫</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/inventory">在庫一覧</a> <a
					class="dropdown-item" href="/createInventory">在庫登録</a>
			</div>
		</li>
		<li style="display: inline-block;">
			<button type="button" class="btn btn-primary  btn-lg dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				保管場所</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/storageLoc">保管場所一覧</a> <a
					class="dropdown-item" href="/createStorageLoc">保管場所登録</a>
			</div>
		</li>
		<li style="display: inline-block; padding: 10px;margin-left: 700px;"></li>
		<li style="display: inline-block;" class="text-right"><a
			class="btn btn-primary  btn-lg" href="/logout">Logout</a></li>
	</ul>
</div>