<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>在庫</title>
</head>
<body>
	<th:block th:include="/_menu"></th:block>
<script>
	$(function() {
		$("#cansel").click(function() {
			window.location.href = '/inventory';
		});
	});
</script>

	<h2>在庫登録</h2>
	<form name='f7' method='POST'>
		<div class="form-group">
			<label class="control-label" for="productCode">商品</label> <select
				class="form-control" id="productCode" name="productCode">
				<option value="">---</option>
				<option th:each="item : ${productMap}" th:value="${item.key}"
					th:text="${item.value}" th:selected="${item.key} == *{productCode}">pulldown</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label" for="storageLocCode">保管場所</label> <select
				class="form-control" id="storageLocCode" name="storageLocCode">
				<option value="">---</option>
				<option th:each="item : ${storageMap}" th:value="${item.key}"
					th:text="${item.value}"
					th:selected="${item.key} == *{storageLocCode}">pulldown</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label" for="quantity">数量</label> <input
				class="form-control" type="number" id="quantity" name="quantity"
				value="" />
		</div>
		<div class="form-group">
			<input class="btn btn-primary" name="submit" type="submit" value="登録" />
				<input class="btn btn-primary" name="cansel" id="cansel" type="button"
					value="キャンセル" />
		</div>
	</form>
</body>

</html>