<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>在庫</title>
</head>
<body>
	<th:block th:include="/_menu"></th:block>


	<h2>在庫一覧</h2>
<div class="table-responsive">
	<table class="table table-hover" data-search="true" data-toggle="table" border="1" th:unless="${#lists.isEmpty(inventoryList)}">
		<thead>
			<tr>
				<th data-field="productCode" data-sortable="true">商品コード</th>
				<th data-field="productName" data-sortable="true">商品名</th>
				<th data-field="storageLocCode" data-sortable="true">保管場所コード</Th>
				<th data-field="storageLocName" data-sortable="true">保管場所</Th>
				<th data-field="quantity" data-sortable="true">数量</Th>
				<th data-field="updateAt" data-sortable="true">更新日時</Th>
				<th>更新者</Th>
			</tr>
		</thead>
		<tbody th:remove="all-but-first">
			<tr th:each="item,iterStat : ${inventoryList}"
				th:class="${iterStat.odd}? 'odd'">
				<td th:text="${item.id.productCode}">99999999</td>
				<td th:text="${productMap[item.id.productCode]}">99999999</td>
				<td th:text="${item.id.storageLocCode}">99999999</td>
				<td th:text="${storageMap[item.id.storageLocCode]}">99999999</td>
				<td th:text="${item.quantity}">9999-99-99</td>
				<td th:text="${item.updateAt}">9999-99-99</td>
				<td th:text="${item.updateUser}">9999-99-99</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>

</html>