<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>在庫</title>
</head>
<body>
	<th:block th:include="/_menu"></th:block>


	<h2>在庫確認(保管場所毎)</h2>

	<table class="table" border="1">
		<thead>
			<tr>
				<th>保管場所コード</Th>
				<th>保管場所</Th>
			</tr>
		</thead>
		<tbody th:remove="all-but-first">
			<tr>
				<td th:text="${storage.storageLocCode}">99999999</td>
				<td th:text="${storage.storageLocName}">99999999</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-hover" border="1"
		th:unless="${#lists.isEmpty(inventoryList)}">
		<thead>
			<tr>
				<th>商品コード</Th>
				<th>商品名</Th>
				<th>数量</Th>
			</tr>
		</thead>
		<tbody th:remove="all-but-first">
			<tr th:each="item,iterStat : ${inventoryList}"
				th:class="${iterStat.odd}? 'odd'">
				<td th:text="${item.id.productCode}">99999999</td>
				<td th:text="${productMap[item.id.productCode]}">99999999</td>
				<td th:text="${item.quantity}">9999-99-99</td>
			</tr>
		</tbody>
	</table>
	<form >
	</form>
</body>

</html>