<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>商品マスタ</title>
</head>
<body>
	<th:block th:include="/_menu"></th:block>


	<h2>商品マスタ一覧</h2>
<div class="table-responsive">

	<table class="table table-hover" data-search="true" data-toggle="table"  border="1" th:unless="${#lists.isEmpty(productList)}">
			<thead>
				<tr>
					<th data-field="productCode" data-sortable="true">商品コード</th>
					<th data-field="productName" data-sortable="true">商品名</Th>
					<th data-field="updateAt" data-sortable="true">更新日時</Th>
					<th data-field="updateBy" data-sortable="true">更新者</Th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="item,iterStat : ${productList}" th:class="${iterStat.odd}? 'odd'">
					<td ><a th:href="@{/editProduct(productCode=${item.productCode})}" th:text="${item.productCode}"></a></td>
					<td ><a th:href="@{/inventoryRequest(productCode=${item.productCode})}" th:text="${item.productName}"></a></td>
					<td th:text="${item.updateAt}">9999-99-99</td>
					<td th:text="${item.updateUser}">9999-99-99</td>
				</tr>
			</tbody>
		</table>
		</div>
</body>

</html>