<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>保管場所</title>
</head>
<body>
	<th:block th:include="/_menu"></th:block>


	<h2>保管場所一覧</h2>

<div class="table-responsive">
	<table class="table table-hover" data-search="true"  data-toggle="table"  border="1"
		th:unless="${#lists.isEmpty(storageList)}">
		<thead>
			<tr>
				<th data-field="storageLocCode" data-sortable="true">保管場所コード</th>
				<th data-field="storageLocName" data-sortable="true">保管場所</Th>
				<th data-field="updateAt" data-sortable="true">更新日時</Th>
				<th data-field="updateBy" data-sortable="true">更新者</Th>
			</tr>
		</thead>
		<tbody th:remove="all-but-first">
			<tr th:each="item,iterStat : ${storageList}"
				th:class="${iterStat.odd}? 'odd'">
				<td><a
					th:href="@{/editStorageLoc(storageLocCode=${item.storageLocCode})}"
					th:text="${item.storageLocCode}"></a></td>
				<td><a
					th:href="@{/inventoryByStorageLoc(storageLocCode=${item.storageLocCode})}"
					th:text="${item.storageLocName}"></a></td>
				<td th:text="${item.updateAt}">9999-99-99</td>
				<td th:text="${item.updateUser}">9999-99-99</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>

</html>